.search__section {
  display: flex;
  margin-bottom: 1rem;

  .form__label {
    width: 20rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .form__input {
    width: 18rem;
    height: 1.7rem;
  }
}
