.detail__section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the card horizontally */
  justify-content: center; /* Center the card vertically */
  min-height: 100vh; /* Make the section take up the full height of the viewport */
}

.card__detail {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content inside the card */
  justify-content: center; /* Center content inside the card */
  background-color: rgba(103, 17, 4, 0.692); /* Background color for the card */
  padding: 2rem;
  border-radius: 1rem; /* Optional: Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for depth */
  width: 100%;
  max-width: 500px; /* Control the maximum width of the card */
}

.cardDetail__img {
  max-width: 100%; /* Make sure the image is responsive */
  width: 14rem;
  height: 18rem;
  margin-bottom: 1rem; /* Space between the image and the text */
}

.cardDetail__description {
  margin-bottom: 0.5rem; /* Space between each description item */
  color: whitesmoke;
  font-size: 1rem; /* Adjust the text size as needed */
  text-align: center; /* Center the text */
}

.name {
  font-weight: bold;
}

.back__btn {
  margin-top: 2rem; /* Space between the card and the back button */
}

.back__btn__style {
  color: whitesmoke;
  text-decoration: none; /* Remove underline from the link */
  font-size: 1rem; /* Adjust the size of the button text */
  background-color: #444; /* Background color for the button */
  padding: 0.5rem 1rem;
  border-radius: 5px; /* Optional: Rounded corners for the button */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
}
