.detail__section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(103, 17, 4, 0.692);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;

  max-width: 500px;
}
.card__detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.form__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.cardDetail__img {
  max-width: 100%;
  width: 14rem;
  height: 20rem;
  margin-bottom: 1rem;
}

.cardDetail__description {
  margin-bottom: 0.5rem;
  color: whitesmoke;
  font-size: 1.2rem;
  text-align: left;
}

.name {
  font-weight: bold;
}

.back__btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.back__btn__style {
  color: whitesmoke;
  text-decoration: none; /* Remove underline from the link */
  font-size: 1rem; /* Adjust the size of the button text */
  background-color: #444; /* Background color for the button */
  padding: 0.5rem 1rem;
  border-radius: 5px; /* Optional: Rounded corners for the button */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
}
