.form__input,
.form__select {
  width: 25rem;
  height: 2.8rem;
  font-size: 16px;
  background-color: grey;
  color: whitesmoke;
  border: solid rgba(154, 154, 28, 0.692);
  padding: 0.5rem;
  box-sizing: border-box;
  appearance: none;
}

.form__width {
  display: flex;
}

.form__label,
.form__select__label {
  width: 10rem;
  color: whitesmoke;
  font-size: 16px;
  text-align: left;
  padding: 0.3rem 0.3rem 0.3rem 0;
}

.filter__house {
  font-size: 16px;
  color: whitesmoke;
}

@media (max-width: 600px) {
  .filters__section {
    grid-template-columns: 1fr;
  }

  .form__input,
  .form__select {
    width: 100%;
  }
}
