.form__input {
  width: 20rem;
  height: 2rem;

  margin-bottom: 1rem;
  font-size: 16px;
  background-color: grey;
  color: whitesmoke;
  border: solid rgba(154, 154, 28, 0.692);
  box-sizing: border-box;
}

.form__select {
  width: 20rem;
  height: 2.1rem;

  margin-bottom: 1rem;
  font-size: 16px;
  background-color: grey;
  color: whitesmoke;
  border: solid rgba(154, 154, 28, 0.692);
  box-sizing: border-box;
}

.form__label {
  margin-bottom: 0.5rem;
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
}

@media (min-width: 600px) {
  .filters__section {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .form__input .form__select {
    font-size: 14px;
  }

  .form__label {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
