@import "./core/reset";
@import "./core/variables";
@import "./layout/_header";

:root {
  background-color: grey;
}

.main {
  color: whitesmoke;
  display: flex;

  .filter__section {
    display: flex;
  }
}
