@import "./core/reset";
@import "./core/variables";
@import "./layout/_header";

:root {
  background-color: grey;
}

.main {
  display: flex;
  margin-right: 2rem;
  margin-left: 2rem;
  color: whitesmoke;
  justify-content: center;
}
