@import "./core/reset";
@import "./core/variables";
@import "./layout/_header";
@import "./layout/landing";

:root {
  background-color: grey;
  color: whitesmoke;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p__text {
  color: whitesmoke;
  margin: 2rem;
  font-size: 1.5rem;
}
